@(title: String)(implicit lang: Lang)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <style>
            body{background-color:#D0E7EF;}
        </style>
    </head>
    <body>
        @*<div class="screenshot">*@
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="@routes.Application.index()">
                            <b>@Messages("application.name")</b>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6 offset3">
                    <hr>
                    <img src="/assets/images/logo2.png" class="img-responsive" alt="logo">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span8 offset2">
                    @views.html.searchForm()
                </div>
            </div>
            <hr>
            <div class="container">
            @footer()
            </div>
        @*</div>*@
    </body>
</html>
